:root { 
--gray_600:#828282; 
--gray_700:#686868; 
--blue_200_7f:#88ccee7f; 
--red_A200:#ff4545; 
--blue_200_3f:#88ccee3f; 
--gray_800:#434343; 
--gray_900:#4e1111; 
--black_900_3f:#0000003f; 
--light_blue_900:#145281; 
--gray_50:#fcfcfc; 
--light_blue_800:#0072b2; 
--gray_100:#f2f2f2; 
--blue_200_99:#88ccee99; 
--black_900:#000000; 
--black_900_72:#00000072; 
--white_A700_01:#fffefd; 
--blue_gray_900_01:#292d32; 
--blue_gray_900:#343434; 
--gray_700_02:#545454; 
--white_A700:#ffffff; 
--gray_700_01:#656565; 
}